* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: aquamarine 
    url(https://cdn.houseviet.vn/images/project/23042023/ha-noi-melody-residences-cover.jpg) 
    no-repeat 0 0 / cover fixed;
}

.container {
    position: absolute;
    width: 600px;
    height: 200px;
    background: #ffffff93;
    left: 200px;
    top: 200px;
    padding: 20px;
}

.container h1 {
    color:#bf4240;
    line-height: 50px;
}

.container p {
    line-height: 25px;
    margin-bottom: 8px;
}

.money {
    position: absolute;
    width: 100px;
    height: 80px;
    border: none;
    border-radius: 3px;
    left: 430px;
    top: 175px;
    background:#bf4240;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}